---
import astropodConfig from "../../../astropod.config.mjs";
import TwitterIcon from "../icons/twitterIcon.astro";
import YoutubeIcon from "../icons/youtubeIcon.astro";
import TelegramIcon from "../icons/telegramIcon.astro";
import ExternalLinkIcon from "../icons/externalLinkIcon.astro";

const social = astropodConfig.social;
let hasSocial = false 

for (const key in social) {
  if (social[key]){
    hasSocial = true;
    break;
  }
}
---
{hasSocial && (
<div class="dropdown dropdown-hover dropdown-end">
  <label tabindex="0" class="btn btn-ghost m-1">
    <ExternalLinkIcon />
    <span class="hidden md:inline-block">Follow us</span>
  </label>
  <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
    {social.twitter && (<li><a><TwitterIcon />Twitter</a></li>)}
    {social.youtube && (<li><a><YoutubeIcon />Youtube</a></li>)}
    {social.telegram && (<li><a><TelegramIcon />Youtube</a></li>)}
  </ul>
</div>
)}


