---
import astropodConfig from "../../../astropod.config.mjs";
import GooglePodcastIcon from "../icons/googlePodcastIcon.astro";
import SpotifyIcon from "../icons/spotifyIcon.astro";
import ApplePodcastIcon from "../icons/applePodcastIcon.astro";
import HeadphoneIcon from "../icons/headphoneIcon.astro";

const listenOn = astropodConfig.listenOn;
let hasListenOn = false 

for (const key in listenOn) {
  if (listenOn[key]){
    hasListenOn = true;
    break;
  }
}
---

{hasListenOn && (
  <div class="dropdown dropdown-hover dropdown-end">
    <label tabindex="0" class="btn btn-ghost m-1">
      <HeadphoneIcon />
      <span class="hidden md:inline-block">Listen on</span>
    </label>
    <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
      {listenOn.googlePodcast && (<li><a><GooglePodcastIcon />Google Podcast</a></li>)}
      {listenOn.applePodcast && (<li><a><ApplePodcastIcon />Apple Podcast</a></li>)}
      {listenOn.spotify && (<li><a><SpotifyIcon />Spotify</a></li>)}
    </ul>
  </div>
)}
