---
const { title, subtitle } = Astro.props;
import astropodConf from "../../astropod.conf.cjs";
import TwitterIcon from "./icons/twitterIcon.astro";
import YoutubeIcon from "./icons/youtubeIcon.astro";
import TelegramIcon from "./icons/telegramIcon.astro";
import GooglePodcastIcon from "./icons/googlePodcastIcon.astro";
import SpotifyIcon from "./icons/spotifyIcon.astro";
import ApplePodcastIcon from "./icons/applePodcastIcon.astro";
---

<div class="card min-w-full bg-base-100 shadow-md pb-3">
  <div class="aspect-[3/1] mt-5 min-w-[720px]">
    <div class="relative inline-block">
      <img src={astropodConf.banner} alt="imgen" />
      <div
        class="absolute top-0 left-0 items-center justify-center w-full h-full bg-gradient-to-t from-gray-900 to-50% to-transparent"
      >
        <div class="flex flex-col absolute bottom-0 left-52 px-3">
          <p class="mb-1 text-sm font-medium text-white">{subtitle}</p>
          <h1 class="mb-3 text-4xl font-black text-white">{title}</h1>
        </div>
      </div>
    </div>
    <img class="-mt-28 border-4 z-10 relative border-base-100 rounded-lg mx-11 w-40 h-40" src={astropodConf.cover} />
  </div>

  <div class="flex -mt-12 px-4 pl-52">
    <a href="/" class="btn btn-ghost m-1 justify-self-start"> Home</a>
    <a href="about" class="btn btn-ghost m-1 justify-self-end"> About</a>

    <div class="grow"></div>

    <div class="dropdown dropdown-hover place-self-end">
      <label tabindex="0" class="btn btn-ghost m-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-headphones"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M4 13m0 2a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2z"></path>
          <path d="M15 13m0 2a2 2 0 0 1 2 -2h1a2 2 0 0 1 2 2v3a2 2 0 0 1 -2 2h-1a2 2 0 0 1 -2 -2z"></path>
          <path d="M4 15v-3a8 8 0 0 1 16 0v3"></path>
        </svg>
        Listen on
      </label>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a><GooglePodcastIcon />Google Podcast</a></li>
        <li><a><ApplePodcastIcon />Apple Podcast</a></li>
        <li><a><SpotifyIcon />Spotify</a></li>
      </ul>
    </div>

    <div class="dropdown dropdown-hover">
      <label tabindex="0" class="btn btn-ghost m-1">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          class="icon icon-tabler icon-tabler-external-link"
          width="24"
          height="24"
          viewBox="0 0 24 24"
          stroke-width="2"
          stroke="currentColor"
          fill="none"
          stroke-linecap="round"
          stroke-linejoin="round"
        >
          <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
          <path d="M12 6h-6a2 2 0 0 0 -2 2v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2 -2v-6"></path>
          <path d="M11 13l9 -9"></path>
          <path d="M15 4h5v5"></path>
        </svg>
        Follow us
      </label>
      <ul tabindex="0" class="dropdown-content z-[1] menu p-2 shadow bg-base-100 rounded-box w-52">
        <li><a> <TwitterIcon /> Twitter</a></li>
        <li><a> <YoutubeIcon />Youtube</a></li>
        <li><a> <TelegramIcon />Telegram</a></li>
      </ul>
    </div>

    <button class="btn btn-ghost btn-square m-1">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        class="icon icon-tabler icon-tabler-rss"
        width="24"
        height="24"
        viewBox="0 0 24 24"
        stroke-width="2"
        stroke="currentColor"
        fill="none"
        stroke-linecap="round"
        stroke-linejoin="round"
      >
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M5 19m-1 0a1 1 0 1 0 2 0a1 1 0 1 0 -2 0"></path>
        <path d="M4 4a16 16 0 0 1 16 16"></path>
        <path d="M4 11a9 9 0 0 1 9 9"></path>
      </svg>
    </button>
  </div>
</div>
