---
const { title, cover, desc, url } = Astro.props;
import { Image } from "@astrojs/image/components";
import astropodConf from "../../astropod.conf.cjs";

let cover_url = cover ? cover : astropodConf.cover;
---

<div class="">
  <div class="hero-content flex-col md:flex-row">
    <Image src={cover_url} aspectRatio="1:1" width={100} format="webp" alt={title} class="shadow-lg rounded-md" />
    <div class="grow w-full">
      <h1 class="text-xl font-semibold">
        {title}
      </h1>
      <p class="py-1 text-1xl">{desc}</p>
    </div>
    <button class="btn btn-circle mx-2">
      <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-player-play-filled" width="24" height="24" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" fill="none" stroke-linecap="round" stroke-linejoin="round">
        <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
        <path d="M6 4v16a1 1 0 0 0 1.524 .852l13 -8a1 1 0 0 0 0 -1.704l-13 -8a1 1 0 0 0 -1.524 .852z" stroke-width="0" fill="currentColor"></path>
     </svg>
    </button>
  </div>
  <hr class="my-3" />
</div>
