<div class="w-full mt-8 flex justify-center">
    <div class="join bg-base-100 shadow-md">
      <button class="join-item btn bg-base-100">«</button>
      <button class="join-item btn bg-base-100">1</button>
      <button class="join-item btn bg-base-100">2</button>
      <button class="join-item btn btn-active">3</button>
      <button class="join-item btn bg-base-100">4</button>
      <button class="join-item btn bg-base-100">5</button>
      <button class="join-item btn bg-base-100">»</button>
    </div>
  </div>